.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/baikal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
